h1 {
    padding:100px 40px  60px 40px;
    text-align: center;
    font-size: 6.0rem;
    font-weight: 500;
}

.trend-list-container{
    background-color: $clr-light-01;
    margin-top: 60px;
    margin-bottom:50px;
    padding:30px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.home-search-bar{
    max-width:500px;
    margin:0 auto;
}

//media queries
@media(max-width:650px){
    h1{
        font-size: 5.0rem;
    }
}

@media(max-width:450px){
    h1{
        font-size: 4.0rem;
    }
}