.search-bar {
    position: relative;

    input[type="text"]{
        width:100%;
        padding:10px 40px 10px 20px;
        border-radius: 20px;
        border:none;
        box-shadow: 1px 1px 8px #888888;
    }

    button{
        background: none;
        border:none;
        position:absolute;
        top:0;
        bottom:0;
        right:10px;
        cursor: pointer;
    }
}