.stock-tile-price{
    display:flex;
    justify-content: space-between;
}

.stock-tile{
    width:200px;
    margin:0 20px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
}