.stock-details-container {
    background-color: $clr-light-01;
    margin: 30px 0;
    padding:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "summary chart chart"
        "stats chart chart"
        "stats chart chart"
        "news news news";
    align-items: center;

    .stock-main-summary {
        grid-area: summary;

        .stock-summary{
            margin-bottom:10px;
        }

        h2{
            font-weight: 400;
            font-size:2.8rem;
        }

        .price{
            font-size:4.0rem
        }

        .stock-price{
            display: flex;
            align-items: center;
            font-weight: 700;
        }

        .positive-change,
        .negative-change{
            padding:5px;
            border-radius:5px;
            margin:0 5px;
            text-align:center;
        }

        .positive-change{
            background-color: rgb(230, 244, 234);
        }

        .negative-change {
            background-color: rgb(252, 232, 230);
        }

        .date {
            font-size: 1.2rem;
        }
    }

    .historical-chart{
        grid-area: chart;
        min-width:0;
    }

    .stock-stats{
        line-height: 1.7;
        font-size: 1.4rem;
        grid-area:stats;
        margin-top:10px;
        // padding:20px;
        // border:1px solid $clr-light-03;
        // border-radius: 5px;;

        align-self:flex-start;

        .label{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5rem;
        }
    }

    .latest-news {
        grid-area: news;
    }
}

//media-queries
@media(max-width:950px){
    .stock-details-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "summary stats"
            "chart chart "
            "news news";
    
        .stock-stats{
            margin-right:10px;
        }
    
    }
}

@media(max-width:700px){
    .stock-details-container {
        grid-template-areas:
            "summary"
            "chart"
            "stats"
            "news";
    }
}

@media(max-width:550px){
    .stock-details-container {
        border-radius: 0;
        margin:0;
    }
}