.trend-list {
    h2 {
        font-size: 1.5rem;
        font-weight:400;
    }
}

.trend-list-item {
    // a{
    //     display:flex;
    //     gap:10px;
    //     width:100%;
    //     justify-content: space-between;
    //     padding:15px 25px;
    //     // margin-top:30px;
    //     border-top: 1px dotted $clr-dark-03;
    //     align-items: center;

    //     &:hover,
    //     &:focus{
    //         background-color: $clr-light-02;
    //         // font-weight: 500;
    //     }
    // }
    a{
        width:100%;
        padding:15px 25px;
        border-top: 1px dotted $clr-dark-03;

        
        display:grid;
        grid-template-columns: 1fr 10fr 2fr 4fr;
        grid-template-areas: "symbol name price change";
        gap: 10px;
        align-items: center;

        &:hover,
        &:focus{
            background-color: $clr-light-02;
            // font-weight: 500;
        }
    }

    .stock-symbol{
        grid-area: symbol;
        color:$clr-dark-01;
        font-weight: 500;
    }

    .stock-name {
        grid-area:name;
    }

    .stock-price {
        text-align: right;
        grid-area:price;
    }

    .stock-change{
        text-align: right;
        grid-area:change;
    }
}

//media queries
@media(max-width:650px){
    .trend-list-item{
        a{
            grid-template-areas: 
            "symbol symbol price change"
            "name name price change";
        }
    }
}