.watch-list{
    position:fixed;
    top:0px;
    right:-1500px;
    width:800px;
    height:100vh;
    padding:10px;
    background-color: $clr-light-01;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    z-index:20;
    
    .close-button{
        background: none;
        border:none;
        padding:10px;
        color:$clr-dark-01;
        font-size:2.5rem;
        cursor: pointer;
        
        &:hover,
        &:focus{
            color:$clr-contrast-01;
        }
    }

    &>div{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    &.show {
        right:0;
    }
}
    

.watchlist-item-container{
    
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:15px 25px;
    // margin-top:30px;
    border-top: 1px dotted $clr-dark-03;
    align-items: center;

    button{
        background: none;
        border:none;
        cursor: pointer;
        font-size: 2.5rem;
        color:$clr-dark-03;
        padding:0;
        box-shadow:none;

        &:hover,
        &:focus{
            color:$clr-contrast-01;
        }
    }

    &:hover,
    &:focus{
        background-color: $clr-light-02;
    }
}

.watchlist-item {
    width:90%;
    
    display:grid;
    grid-template-columns: 2fr 8fr 2fr 4fr;
    grid-template-areas: "symbol name price change";
    gap: 10px;
    align-items: center;

    .stock-symbol{
        grid-area: symbol;
        color: $clr-dark-01;
    }

    .stock-name {
        grid-area: name;
    }

    .stock-price {
        text-align: right;
        grid-area: price;
    }

    .stock-change{
        text-align: right;
        grid-area: change;
        text-align: right;
    }
}

//media-queries
@media(max-width:800px){
    .watch-list{
        width:100%;
    }
}

@media(max-width:650px){
    .watchlist-item{
        
        grid-template-areas: 
        "symbol symbol price change"
        "name name price change";
        
    }
}

@media(max-width:500px){
    .watchlist-item{
        
        grid-template-areas: 
        "symbol symbol price price"
        "name name change change";
        
    }
}


