html{
    font-size:62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:1.6rem;
    line-height: 1.3;
    letter-spacing: 0.15rem;
    color: $clr-dark-font;
    background-color: $clr-light-03;
}

p,
h1,
h2,
h3,
h4,
ul{
    padding:0;
    margin:0;
}

ul{
    list-style: none;
}

fieldset {
    border:none;

    legend {
        position:absolute;
        opacity: 0;
    }

    input[type=radio] {
        position: absolute;
        opacity: 0;
        width:0;
        transition: all 0.2s;
        cursor:pointer;

    }

    input[type=radio]:focus + label {
        background-color: #d6d4e0;
        border:1px dashed $clr-contrast-02;
    }

    input[type=radio] + label:hover,
    input[type=radio]+ label:focus{
        background-color: #d6d4e0;
    }

    input[type=radio]:checked + label{
        // border-bottom: 5px solid $clr-contrast-02;
        font-weight: bold;
        color: $clr-contrast-02;
        background-color: #ebebeb;
    }

    label {
        display: inline-block;
        background: white;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        text-align: center;
        // box-shadow: 0px 3px 10px -2px hsla(150, 5%, 80%, 0.5);
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
    }
}

img{
    width:100%;
    display: block;
}

a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

.wrapper{
    margin:0 auto;
    width:85%;
    max-width:1200px;
}

.positive-change{
    color:rgb(0, 145, 0);
}

.negative-change{
    color:rgb(172, 0, 0);
}

.button{
    padding: 10px;
    background: $clr-contrast-01;
    color:$clr-light-01;
    border:none;
    // margin:5px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);
    cursor: pointer;
    transition:all 0.3s;
    font-family: 'Poppins', sans-serif;
    
    &:hover,
    &:focus{
        background-color: $clr-light-02;
        color:$clr-contrast-01;
        
    }
}