$graph-color:B8A9C9;
$clr-dark-01: rgba(0,61,109,1);
$clr-dark-02: rgba(70,44,103,1);
$clr-dark-03: rgba(64,110,145,1);
$clr-dark-04:rgba(0,0,0,1);
$clr-dark-font:rgba(77,82,86,1);
$clr-light-01: rgba(255,255,255,1);
$clr-light-02: rgba(245,245,245,1);
$clr-light-03:rgba(233,239,237,1);
$clr-contrast-01:rgb(134, 40, 165);
$clr-contrast-02:rgba(91,154,160,1);